.forecast__list {
	display: flex;
	gap: 30px;
	max-width: 860px;
	overflow-x: scroll;

}

.forecast__list::-webkit-scrollbar {
  height: 1px;
	background-color: transparent;
}

.forecast__title {
	font-size: 32px;
	font-weight: 500;
	margin-bottom: 30px;
}